@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
header{
  align-content: center;
  background-color: rgb(92, 123, 225);
  position: relative;
  top: 0;
  left: 0;
  height:32vh;
  width: 100vw;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
body{
  width: 100vw;
<<<<<<< HEAD
=======
  height: 100vh;
>>>>>>> d7d26b30f29f12e78884a74ca7fbfc29f3570efa
  background-color: rgb(31, 31, 31);
  color: white;
}
main{
  margin: 0;
  align-items: center;
  height: 59vh;
}
<<<<<<< HEAD
#btn{
=======
button{
>>>>>>> d7d26b30f29f12e78884a74ca7fbfc29f3570efa
  background-color: rgb(26, 0, 255);
  color: white;
  width: 50vw;
  height: 4vh;
  border-radius: 10px;
  border: 0;
  border-style: none;
  font-size: 4.8vw;
<<<<<<< HEAD
  margin-left: 13vw;
=======
  margin-left: 25vw;
>>>>>>> d7d26b30f29f12e78884a74ca7fbfc29f3570efa
  font-family: 'Belanosima';
}
h1{
  font-size: 30px;
  font-family: 'Belanosima';
}
footer{
<<<<<<< HEAD
  margin-top: 20vh;
=======
>>>>>>> d7d26b30f29f12e78884a74ca7fbfc29f3570efa
  width: 100vw;
  height: 9vh;
  background-color: rgb(92, 123, 225);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
}
h2{
  font-family: 'Inter';
}
<<<<<<< HEAD
#nome{
=======
#caixa{
>>>>>>> d7d26b30f29f12e78884a74ca7fbfc29f3570efa
  width: 77vw;
  height: 3vh;
  border-radius: 7px;
  border: 0;
  font-size: 20;
}
<<<<<<< HEAD
#nasc{
  width: 77vw;
  height: 3vh;
  border-radius: 7px;
  border: 0;
  font-size: 20;
}
#cpf{
  width: 77vw;
  height: 3vh;
  border-radius: 7px;
  border: 0;
  font-size: 20;
}
#tel{
  width: 77vw;
  height: 3vh;
  border-radius: 7px;
  border: 0;
  font-size: 20;
}
#email{
  width: 77vw;
  height: 3vh;
  border-radius: 7px;
  border: 0;
  font-size: 20;
}
#senhan{
  width: 77vw;
  height: 3vh;
  border-radius: 7px;
  border: 0;
  font-size: 20;
}
#senha{
  width: 77vw;
  height: 3vh;
  border-radius: 7px;
  border: 0;
  font-size: 20;
}
.erro{
  color: red;
  font-size: 20;
  font-family: 'Inter';
}
=======
>>>>>>> d7d26b30f29f12e78884a74ca7fbfc29f3570efa
img.icon{
  width: 73vw;
  height: 15vh;
  margin-left: 12vw;
}
.txt{
  margin-left: 12vw;
  font-family: 'Belanosima';
  font-size: 4.8vw;
}
.tit{
  font-size: 10.4vw;
}
.link{
  font-size: 4vw;
<<<<<<< HEAD
  margin-left: 20vw;
=======
  margin-left: 32vw;
>>>>>>> d7d26b30f29f12e78884a74ca7fbfc29f3570efa
  font-family: 'Inter';
}
.link2{
  font-size: 4vw;
<<<<<<< HEAD
  margin-left: 28vw;
=======
  margin-left: 35vw;
>>>>>>> d7d26b30f29f12e78884a74ca7fbfc29f3570efa
  font-family: 'Inter';
}
.ou{
  margin-left: 49vw;
  margin-top: 2vh;
}
#google{
  background-color: white;
  width: 76.5vw;
  color: black;
  margin-top: 2vh;
  font-family: 'Belanosima';
  margin-left: 11.75vw;
  font-size: 4.8vw;
  text-align: center;
}
.google{
  width: 6.2vw;
  margin-left: -18vw;
}
