@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box; 
}

:root {
    font-size: 16px; 
}

body {
  width: 100%;
  margin: 0;
  background-color: rgb(31, 31, 31);
  color: white;
  font-family: 'Inter', sans-serif;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus
{
  border-color: #4da6ff; 
  outline: none;
  box-shadow: 0 0 0.35rem rgba(77, 166, 255, 0.35); 
}

.erro {
  font-size: 0.775rem;
  color: #d93025; 
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
  text-align: left;
}

@media (min-width: 901px) {
    :root {
        font-size: 18px;
    }

    /* ajusta mensagens de erro */
    .erro {
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    input[type="text"]:focus,
    input[type="number"]:focus,
    input[type="date"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    textarea:focus,
    select:focus {
        box-shadow: 0 0 0.6rem rgba(77, 166, 255, 0.6);
    }
}