@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body{
    background-color: rgb(49, 49, 49);
    font-family: 'Inter';
    width: 100vw;
}

header{}

main{}

footer{
    width: 100vw;
    height: 18.8vh;
    background-color: rgb(92, 123, 225);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo{
    margin-left: 27.2vw;
    margin-top: 2.5vh;
    width: 24.5vw;
    height: 4,3vh;
}

.borg{
    width: 6.3vw;
    height: 6.3vh;
    margin-left: 4.5vw;
    margin-top: 2.5vh;
}

.cart{
    width: 6.3vw;
    height: 6.3vh;
    margin-left: 25vw;
    margin-top: 2.5vh;
}

.user{
    width: 6.3vw;
    height: 6.3vh;
    margin-left: 4.5vw;
}

.lupa{
    width: 6.3vw;
    height: 6.3vh;
    margin-left: 6vw;
}

#caixa{
    margin-left: 3.5vw;
    width: 72vw;
}

.banner{
    height: 24vh;
    width: 100vw;
    margin-top: 6.4vh;
}

.prod{

}

.tit{}

.setal{
    width: 5.1vw;
}

.promo{
    background-color: rgb(91, 91, 91);
    margin-left: 13vw;
    margin-right: 13vw;
    width: 35vw;
    height: 21.2vh;
    color: white;
}

.picprod{
    height: 14.1vh;
    width: 25.5vw;
    margin-left: 4.6vw;
    margin-top: 1.2vh;
}

.nome{
    font-size: 5vw;
}

.precopromo{
    color: white;
    width: 4.5vw;
}

.preco{
    color: white;
    width: 4.5vw;
}

.desc{
    width: 6.5vw;
    height: 12vh;
    color: black;
    font-size: 3.5vw;
}

.setab{
    width: 1.3vw;
}

.class{
    width: 3.5vw;
}

.estr{
    width: 2.1vw;
}

.foot{}

.wpp{
    width: 4vw;
}