<a class="li" href="/produto">
    <img src="imagens/foto.svg" class="produto" alt="produto">
    <h1 class="nome">Produto</h1>
    <h1 class="preco">R$ 00,00</h1>
    <h1 class="categoria">Categoria</h1>
    <section class="estrelas">
        <img src="imagens/estr.svg" class="estrela" alt="estrela">
        <img src="imagens/estr.svg" class="estrela" alt="estrela">
        <img src="imagens/estr.svg" class="estrela" alt="estrela">
        <img src="imagens/estr.svg" class="estrela" alt="estrela">
        <img src="imagens/estr.svg" class="estrela" alt="estrela">
    </section>
</a>
