<a class="li" href="/produto">
    <img src="imagens/foto.png" class="produto" alt="produto">
    <h1 class="nome">Produto</h1>
    <h1 class="preco">R$ 00,00</h1>
    <hr class="linha">
    <h1 class="precof">R$ 00,00</h1>
    <img src="imagens/branco.png" alt="fundo" class="branco">
    <h1 class="porcentagem">-00%</h1>
    <img src="imagens/setab.png" alt="set" class="seta">
    <h1 class="categoria">Categoria</h1>
    <section class="estrelas">
        <img src="imagens/estr.png" class="estrela" alt="estrela">
        <img src="imagens/estr.png" class="estrela" alt="estrela">
        <img src="imagens/estr.png" class="estrela" alt="estrela">
        <img src="imagens/estr.png" class="estrela" alt="estrela">
        <img src="imagens/estr.png" class="estrela" alt="estrela">
    </section>
</a>
