<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bloco</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/bloco.css">
</head>

<body>
    <a class="li" href="/produto">

        <img src="imagens/foto.jpg" class="produto" alt="produto">
        
        <h1 class="nome">Produto</h1>

        <h1 class="preco">R$ 00,00</h1>

        <h1 class="categoria">Categoria</h1>

        <section class="estrelas">

            <img src="imagens/estr.png" class="estrela" alt="estrela">
            <p class="espaco">
            <img src="imagens/estr.png" class="estrela" alt="estrela">
            </p>
            <p class="espaco1">
            <img src="imagens/estr.png" class="estrela" alt="estrela"> 
            </p>
            <p class="espaco2">
            <img src="imagens/estr.png" class="estrela" alt="estrela"> 
            </p>
            <p class="espaco3">
            <img src="imagens/estr.png" class="estrela" alt="estrela">
            </p>

        </section>
    </a>
</body>

</html>