<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer>
        <section class="footer-content-group">
            <h2 class="footer-item">Central de Atendimento</h2>
            <output class="footer-text-secondary">SAC Via Whatsapp</o>
        </section>

        <section class="footer-content-group">
            <h2 class="footer-item">Contato do Anunciante</h2>
            <output class="footer-text-secondary">email@gmail.com</o>
        </section>
    </footer>
</body>
</html>