<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <h1 class="c">Central de Atendimento</h1>

    <h2 class="w">SAC Via Whatsapp</h2>

    <img src="/imagens/wpp.svg">

    <h1 class="a">Contato do Anunciante</h1>

    <h2 class="e">email@gmail.com</h2>
</body>

</html>