<footer>
    <section class="footer-content-group">
        <h2 class="footer-item">Central de Atendimento</h2>
        <output class="footer-text-secondary">maisaudeods3SAC@gmail.com</output>
    </section>

    <section class="footer-content-group">
        <h2 class="footer-item">Contato do Anunciante</h2>
        <output class="footer-text-secondary">maisaudeodsparceiros@gmail.com</output>
    </section>
</footer>
