<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grid</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/grid.css">
</head>

<body>
    <a class="hamburger" onclick=amenu() href="#"><img src="imagens/borg.svg" alt="menu" class="menu"></a>
            <section class="menu">
                <nav>
                    <a onclick=smenu() href="#"><img src="imagens/x.svg" alt="fechar" class="x"></a>
                    <br><h1>Categorias</h1>
                    <ul>
                        <li><a href=""></a>Higiene Pessoal</li>
                        <li><a href=""></a>Vitaminas e Suplementos</li>
                        <li><a href=""></a>Cosméticos</li>
                        <li><a href=""></a>Maternidade</li>
                        <li><a href=""></a>Primeiros Socorros</li>
                        <li><a href=""></a>Dispositivos</li>

                    </ul>
                </nav>
            </section>

            <script>
                function amenu(){
                    const Menu = document.querySelector('.menu')
                    Menu.style.display = 'flex'
                    const Op = document.querySelector('.op')
                    Op.style.display = 'none'
                }
                function smenu(){
                    const Menu = document.querySelector('.menu')
                    Menu.style.display = 'none'
                    const Op = document.querySelector('.op')
                    Op.style.display = 'flex'
                }
            </script>
            


            <a href="/home"><img src="imagens/logo.svg" alt="logo" class="logo"></a>

            <a href="/carrinho"><img src="imagens/cart.svg" alt="carrinho" class="cart"></a>

            <section class="azul">

            <a href="/usuario"><img src="imagens/user.svg" alt="user" class="user"></a>

            <img src="imagens/lupa.svg" alt="lupa" class="lupa">

            </section>
</body>

</html>

