<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grid</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/grid.css">
</head>

<body>
  <header>
    <a href="/home"><img src="imagens/logo.svg" alt="logo" class="logo"></a>

    <a href="/carrinho"><img src="imagens/cart.svg" alt="carrinho" class="cart"></a>
  </header>
  <main>
    <a href="/usuario"><img src="imagens/user.svg" alt="user" class="user"></a>

    <img src="imagens/lupa.svg" alt="lupa" class="lupa">
  </main>
</body>

</html>

