<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homer</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <header>

        <img class="borg" src="imagens/borg.svg">

        <img class="logo" src="imagens/logo-site.svg">

        <img class="cart" src="imagens/cart.svg">

        <img class="user" src="imagens/user.svg">

        <img class="lupa" src="imagens/lupa.svg">

        <input type="text" placeholder="Buscar..."id="caixa">
    </header>

    <main>
        <img class="banner" src="imagens/banner.svg">

       <p><nav class="prod"><section><h1 class="tit">Principais ofertas</h1>

        <a href="">Ver mais <img class="setal" src="imagens/setal.svg"></a>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoA</h1></p>
            <br><h1 class="precopromo">R$  ̶X̶X̶,̶X̶X̶</h1>
            <h1 class="preco">R$ XX,XX</h1>
            <section class="desc"><img class="setab" src="app\public\imagens\setab.svg">XX%</section>
            <br><h1 class="class">Higiene Pessoal</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>

        <section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoB</h1></p>
            <br><h1 class="precopromo">R$  ̶X̶X̶,̶X̶X̶</h1>
            <h1 class="preco">R$ XX,XX</h1>
            <section class="desc"><img class="setab" src="app\public\imagens\setab.svg">XX%</section>
            <br><h1 class="class">Vitaminas e Suplementos</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoC</h1></p>
            <br><h1 class="precopromo">R$  ̶X̶X̶,̶X̶X̶</h1>
            <h1 class="preco">R$ XX,XX</h1>
            <section class="desc"><img class="setab" src="app\public\imagens\setab.svg">XX%</section>
            <br><h1 class="class">Cométicos</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoD</h1></p>
            <br><h1 class="precopromo">R$  ̶X̶X̶,̶X̶X̶</h1>
            <h1 class="preco">R$ XX,XX</h1>
            <section class="desc"><img class="setab" src="app\public\imagens\setab.svg">XX%</section>
            <br><h1 class="class">Maternidade</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoE</h1></p>
            <br><h1 class="precopromo">R$  ̶X̶X̶,̶X̶X̶</h1>
            <h1 class="preco">R$ XX,XX</h1>
            <section class="desc"><img class="setab" src="app\public\imagens\setab.svg">XX%</section>
            <br><h1 class="class">Primeiros Socorros</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoF</h1></p>
            <br><h1 class="precopromo">R$  ̶X̶X̶,̶X̶X̶</h1>
            <h1 class="preco">R$ XX,XX</h1>
            <section class="desc"><img class="setab" src="app\public\imagens\setab.svg">XX%</section>
            <br><h1 class="class">Dispositivos</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>

    </section></p></nav class="prod">

    <p><nav class="prod"><section><h1 class="tit">Higiene pessoal</h1>

        <a href="">Ver mais <img class="setal" src="imagens/setal.svg"></a>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoA</h1></p>
            <br><h1 class="precopromo">R$  ̶X̶X̶,̶X̶X̶</h1>
            <h1 class="preco">R$ XX,XX</h1>
            <section class="desc"><img class="setab" src="app\public\imagens\setab.svg">XX%</section>
            <br><h1 class="class">Higiene Pessoal</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoA</h1></p>
            <h1 class="preco">R$ XX,XX</h1>
            <br><h1 class="class">Higiene Pessoal</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>
        </section></p></nav class="prod">

        <nav class="prod"><p><section><h1 class="tit">Vitaminas e suplementos</h1>

        <a href="">Ver mais <img class="setal" src="imagens/setal.svg"></a>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoB</h1></p>
            <br><h1 class="precopromo">R$  ̶X̶X̶,̶X̶X̶</h1>
            <h1 class="preco">R$ XX,XX</h1>
            <section class="desc"><img class="setab" src="app\public\imagens\setab.svg">XX%</section>
            <br><h1 class="class">Vitaminas e Suplementos</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoB</h1></p>
            <h1 class="preco">R$ XX,XX</h1>
            <br><h1 class="class">Vitaminas e Suplementos</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>
        </section></p></nav class="prod">

        <nav class="prod"><p><section><h1 class="tit">Cosméticos</h1>

        <a href="">Ver mais <img class="setal" src="imagens/setal.svg"></a>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoC</h1></p>
            <br><h1 class="precopromo">R$  ̶X̶X̶,̶X̶X̶</h1>
            <h1 class="preco">R$ XX,XX</h1>
            <section class="desc"><img class="setab" src="app\public\imagens\setab.svg">XX%</section>
            <br><h1 class="class">Cosméticos</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoC</h1></p>
            <h1 class="preco">R$ XX,XX</h1>
            <br><h1 class="class">Cosméticos</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>
        </section></p></nav class="prod">

        <nav class="prod"><p><section><h1 class="tit">Maternidade</h1>

        <a href="">Ver mais <img class="setal" src="imagens/setal.svg"></a>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoD</h1></p>
            <br><h1 class="precopromo">R$  ̶X̶X̶,̶X̶X̶</h1>
            <h1 class="preco">R$ XX,XX</h1>
            <section class="desc"><img class="setab" src="app\public\imagens\setab.svg">XX%</section>
            <br><h1 class="class">Maternidade</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoD</h1></p>
            <h1 class="preco">R$ XX,XX</h1>
            <br><h1 class="class">Maternidade</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>
        </section></p></nav class="prod">

        <nav class="prod"><p><section><h1 class="tit">Primeiros socorros</h1>

        <a href="">Ver mais <img class="setal" src="imagens/setal.svg"></a>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoE</h1></p>
            <br><h1 class="precopromo">R$  ̶X̶X̶,̶X̶X̶</h1>
            <h1 class="preco">R$ XX,XX</h1>
            <section class="desc"><img class="setab" src="app\public\imagens\setab.svg">XX%</section>
            <br><h1 class="class">Primeiros Socorros</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoE</h1></p>
            <h1 class="preco">R$ XX,XX</h1>
            <br><h1 class="class">Primeiros Socorros</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>
        </section></p></nav class="prod">

        <nav class="prod"><p><section><h1 class="tit">Dispositivos</h1>

        <a href="">Ver mais <img class="setal" src="imagens/setal.svg"></a>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoF</h1></p>
            <br><h1 class="precopromo">R$  ̶X̶X̶,̶X̶X̶</h1>
            <h1 class="preco">R$ XX,XX</h1>
            <section class="desc"><img class="setab" src="app\public\imagens\setab.svg">XX%</section>
            <br><h1 class="class">Dispositivos</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>

        <p><section class="promo">
            <img class="picprod" src="imagens/template.svg">
            <br><p><h1 class="nome">ProdutoF</h1></p>
            <h1 class="preco">R$ XX,XX</h1>
            <br><h1 class="class">Dispositivos</h1>
            <section class="estr"><img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"> <img class="estr" src="imagens/estr.svg"></section>
        </section></p>
        </section></p></nav class="prod">




    </main>

    <footer>
        <h1 class="foot">Central de atendimento</h1>
        SAC via whatsapp <img class="wpp" src="imagens/wpp.svg">
        <h1 class="foot">Contato do anunciante</h1>
        email@email.com

    </footer>
</body>

</html>