<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/cad.css">
    <link rel="stylesheet" href="css/login.css">

</head>

<body>
    <header>
        <img class="icon" src="imagens/logo-login.svg">
    </header>
    <main>
        <section class="txt">
       <br><h1 class="tit">Login</h1><br>
       <form>
        <p><label><h2>E-mail ou nome de usuário</h2></label></p>
                <input type="text" placeholder=""id="caixa"><br><br>
        
        <p><label><h2>Senha</h2></label></p>
                <input type="text" placeholder=""id="caixa"><br><br>     
       </form></section>

       <button href="/home" id="btn">Login</button>

       <h2 class="ou">Ou</h2>
       
       <button href="/home" id="google">
        <img class="google" src="imagens/google.svg">
        Entrar com o Google</button><br>


       <br><a href="/" class="link">Não tem uma conta?
        <br><h1 class="link2">Cadastre-se aqui</h1></a>

    </main>

    <footer>
        
    </footer>
</body>

</html>