<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/validacao.js" defer></script>
</head>
<body>
    <header>
        <img class="icon" src="/imagens/logo.png" alt="Logo da Aplicação">
    </header>

    <main>
        <section class="login-module">
            <header class="title-group">
                <h1 class="tit">Login</h1>
            </header>

            <% if(erro) { %>
                <article class="erro-login">
                    <p class="mensagem-erro"><%= erro %></p>
                </article>
            <% } %>

            <form id="loginForm" method="POST" action="/login">
                <label for="email">
                    <h2>E-mail ou nome de usuário</h2>
                </label>
                <input type="text" placeholder="exemplo@dominio.com" id="email" name="email" required>
                <small id="email-erro-msg" class="erro" style="display: none;"></small>

                <label for="senha">
                    <h2>Senha</h2>
                </label>
                <input type="password" placeholder="Sua senha" id="senha" name="senha" required>
                <small id="senha-erro-msg" class="erro" style="display: none;"></small>

                <button type="submit" id="btn-login">Login</button>
            </form>
        </section>

        <p class="ou">Ou</p>

        <button id="google" type="button">
            <img class="google" src="/imagens/google.png" alt="Ícone do Google">
            <strong>Entrar com o Google</strong>
        </button>

        <article class="signup-prompt">
            <a href="/" class="link">
                Não tem uma conta?
                <strong class="link2">Cadastre-se aqui</strong>
            </a>
        </article>
    </main>

    <footer></footer>
</body>
</html>